<html>
<head>
  <script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

    <a-scene>
        <a-text id='paragraph' opacity="1" value="<%=text%> " width="3" position="-2 2 -2" color=black><%=text%></a-text>

        <a-asset>
            <img id="test" src="/<%= analysis %>.jpg"  />
        </a-asset>
    <!-- <div id='a1'> -->
        <a-curvedimage src="#test" height="15" radius="6.7" theta-length="361"
                                    scale="3 3 3"
                                    position="0 5 5">
        </a-curvedimage>
    </a-scene>
    <!-- <a href= "/ocr/1" >NEXTTTTTT</a> -->
    <script>
    myAudio = new Audio('../<%=analysis%>.mp3');
    myAudio.addEventListener('ended', function() {
    this.currentTime = 0;
    this.play();
    }, false);
    myAudio.play();

    </script>

    <script>
        //localStorage.clear();
        if(localStorage.getItem('index')===null)
            localStorage.setItem('index',0);
        else
            localStorage.setItem('index',parseInt( localStorage.getItem('index') )+1);
    </script>
    <script src="script.js"></script>
</body>
</html>
